@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");


html {
    height: 100%;
    width: 100%;
  }

* {
  margin: 0;
  padding: 0;
}
body{
    font-family: Roboto;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


nav{
 
   
    font-size: x-large;
    padding: 3rem 1.5rem;
    color: white;
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

li a{
    color: white;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-around;
}

li{
   
 
    list-style-type: none;
}

li a:hover{
    
    text-decoration: underline ;
  
}

.active{
    text-decoration: underline white;
}
.cardgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 30px;
}

.card1 {
    color: white;
    grid-column-start: 2;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    border-radius: 15px;
    margin-bottom: 10px; 
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;  
}

.card2 {
    color: white;
    grid-column-start: 2;
    grid-row-start: 2;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    border-radius: 15px;
    margin-bottom: 100px; 
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;  
}
.rotateup{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.rotatedown{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


.fontbig{
    font-size: x-large;
}
.gridprofittext{
    font-size: large;
    grid-column-start: 1;
}
.gridinfotext{
    font-size: large;
    grid-column-start: 1;
    grid-column-end:  3;
}

.gridinfotext2{
    margin-top: 10px;
    font-size: large;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end:  3;
}
.gridprofit{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

.arrow{
    display: flex;
    justify-content: end;
    grid-column-start: 4;
    width: 30px;
}

.center{
    text-align: center;
}

.containercard {
    padding: 20px ;
   
}

@media(max-width:400px){
    
    .card1 {
        grid-column-start: 1;
        grid-column-end: 4;
        min-width: 100%;
    }
    .card2 {
        grid-column-start: 1;
        grid-column-end: 4;
        min-width: 100%;
    }
}