<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profit App</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">


</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="" class="active">
                    HOME
                </a>
            </li>
            <li>
                <a href="">
                    Buy
                </a>
            </li>
            <li>
                <a href="">
                    Overview
                </a>
            </li>
        </ul>
    </nav>


    <section class="cardgrid">

        <div class="card1">
            <div class="containercard">
                <h4 class="center fontbig">Profit </h4>

                <div class="gridprofit">
                    <p class="gridprofittext"> Your profit: €{{current}}</p>
                    <img src="{{url_for('static', filename='img/arrow.svg')}}" alt="foto-arrow"
                        class="arrow {{arrowrotation}}">

                </div>


            </div>
        </div>

    </section>
</body>


</html>