<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profit App</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">


</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="" class="active">
                    Buy
                </a>
            </li>
            <li>

            </li>
            <li>
                <a href="">
                    View
                </a>
            </li>
        </ul>
    </nav>
    <div class="centeruser">
        <a href="">
            <img src="{{url_for('static', filename='img/user.svg')}}" alt="foto-arrow" class="iconuser">
        </a>


    </div>

    <section class="cardgrid">
        <div class="card1">
            <div class="containercard">
                <h4 class="center fontbig">Profit </h4>

                <div class="gridprofit">
                    <p class="gridprofittext"> Your profit: €{{current}}</p>
                    <p class="gridprofittex2">Shares: {{amount}}</P>
                    <img src="{{url_for('static', filename='img/arrow.svg')}}" alt="foto-arrow"
                        class="arrow {{arrowrotation}}">
                </div>
            </div>
        </div>
        <div class="card2">
            <div class="containercard">
                <h4 class="center fontbig">Info </h4>
                <div class="gridprofit">
                    <p class="gridinfotext"> Current price: €{{currentprice}}</p>
                    <p class="gridinfotext2">Last update: {{date}}</p>
                </div>
            </div>
        </div>
    </section>
</body>


</html>